body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/*---Cabeçalho---*/

header {
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-shadow: 0px 0px 10px black;
    position: relative;
    z-index: 1  ;
}

nav {
    flex-grow: 1;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

ul a:link,
a:visited {
    padding: 10px;
    text-decoration: none;
    color: #484848;
}

ul a:hover {
    color: #0B5CFF;
}

.botao {
    text-decoration: none;
    color: #0B5CFF;
    border: 2px solid #0B5CFF;
    border-radius: 25px;
    padding: 5px 20px;
}

.botao:hover {
    background: #d2e1ff;
}

.botao.destaque {
    background: #0B5CFF;
    color: white;
}

.botao.destaque:hover {
    background: #2d73ff;
}

/*---GRID PRINCIPAL---*/

.conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'cabecalho cabecalho'
        'capa capa'
        'org org'
        'rodape rodape';
}

/* AREAS */

header { grid-area: cabecalho; }
.capa-content { grid-area: capa; }
.org-content { grid-area: org; }
footer { grid-area: rodape; }

.capa-img { grid-area: cap-img; }
.capa-text { grid-area: cap-text; }
.org-img { grid-area: org-img; }
.org-text { grid-area: org-text; }

/*---SEÇÕES---*/

.capa-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'cap-text cap-img';
    align-items: center;
}

.org-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'org-img org-text';
    align-items: center;
}

/* IMAGENS */

.capa-img img,
.org-img img {
    width: 100%;
}

/* TEXTOS */

.capa-text,
.org-text {
    padding: 5%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

/*---RODAPÉ---*/

footer {
    display: grid;
    background-color: rgb(214, 214, 214);
    justify-items: center;
    padding: 20px;
    text-align: center;
}

.fot-btn {
    margin-top: 10px;
}

/*--RESPONSIVIDADE---*/

@media (max-width: 768px) {

    /* HEADER */
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    header div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }

    /* CAPA */
    .capa-content {
        grid-template-columns: 1fr;
        grid-template-areas:
            'cap-text'
            'cap-img';
    }

    /* ORGANIZAÇÃO */
    .org-content {
        grid-template-columns: 1fr;
        grid-template-areas:
            'org-img'
            'org-text';
    }

    /* TEXTO */
    .capa-text,
    .org-text {
        font-size: 1.1rem;
        text-align: center;
    }
}